body {
  font-family: 'Droid Sans', sans-serif;
}

.crud-table{
  table-layout: fixed;
}
.crud-table th{
  color: #EBEBEB;
  background-color: #484848;
  border-top: none !important;
}
.crud-table > tbody > tr > td{
  height: 50px;
  vertical-align: middle;
  border-left: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
}

h1.page-title {
  margin: 0px;
  padding: 10px;
  color: #EBEBEB;
  background-color: #1E91F5;
}
h1.page-title em{
  font-weight: bold;
  font-style: normal;
  color: yellow;
}

.crud-table-wrapper{
}

.btn{
  margin-left: 5px;
}
.btn{
  width: 120px;
  border: 0px;
  border-radius: 0px;
}
.btn-primary{
  color: #FFF;
  background-color: #1E91F5;
}
.btn-action{
  color: #FFF;
  background-color: #CE9B43;
}
.btn-action:hover{
  color: #FFF;
  background-color: #926E2F;
}
.form-control{
  border: 0;
  outline: 1px solid #CCC;
  background-color: white;
}
tr.indexed-tr th:first-child{
  width: 28px;
}
input[type="datetime-local"]{
  padding-left: 2px;
  padding-right: 2px;
}
